.App {
  background-color: #001D3F;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  width: 35px;
  height: 35px;
  padding: 30px 10px 30px 30px ;
}
.header-section {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: larger;
}
.input-container {
  width: 550px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #010e24;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 50px;
  align-items: center;
}
.input {
  width: 600px;
  height: 20px;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
}
.input-button {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #2764F3;
  color: #fff;
  font-size: x-large;
}
.Todo-text {
  color:#858689;
  font-size: larger;
  font-weight: 500;
}
.tasks-container {
  list-style-type: none;
  margin-top: 20px;
  width: 600px;
}
.list-task-section {
  width: 550px;
  height: 30px;
  background-color: #fff;
  margin: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 6px;
  align-items: center;
}
.task-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox {
  width: 18px;
  height: 18px;
  margin-left: 15px;
  cursor: pointer;
}
.task-container {
  border: none;
  outline: none;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500; 
}
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.delete-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.message {
  margin-top: 30px;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 480px) {
  .input-container {
    width: 300px;
  }
  .input {
    width: 300px;
  }
  .tasks-container {
    width: 300px;
    padding: 0px;
  }
  .list-task-section {
    width: 300px;
    height: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 6px;
    align-items: center;
  }
  .task-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .checkbox {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    cursor: pointer;
  }
  .task-container {
    border: none;
    outline: none;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500; 
    width: 200px;
  }
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .delete-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  .message {
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
  }

}



